.wrapper {
    font-family: "IBM Plex Sans", "sans-serif";
    background-color: var(--main-bg-color);
    max-width: 500px;
}

.header {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.close_button {
    background-color: #FF6363;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.close_button:hover {
    background-color: #FF6363;
    background-image: url("icons/icon_close.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

.close_button:active {
    background-color: #e04f4f;
    background-image: url("icons/icon_close.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}